<!-- page content -->
<div class="right_col" role="main">
  <div class="">
    <div class="page-title">
      <div class="title_left">
        <h3>Tipo de profissionais</h3>
      </div>

     
    </div>
    <div class="clearfix"></div>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel" style="height:600px;">
          <div class="x_title">

            <table class="table table-hover">
              <thead>
                <tr>
                  <th>Nome Tipo de Profissional</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
              <% @professional_types.each do |professional_type| %>
                  <tr>
                    <td><%= professional_type.name %></td>
                    <td><%= link_to 'Exibir', professional_type %> <i class="fa fa-search-plus" aria-hidden="true"></i></td>
                    <td><%= link_to 'Editar', edit_professional_type_path(professional_type) %> <i class="fa fa-pencil-square-o" aria-hidden="true"></i></td>
                    <td><%= link_to 'Apagar', professional_type, method: :delete, data: { confirm: 'Deseja realmente apagar?' } %> <i class="fa fa-trash-o" aria-hidden="true"></i></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            
            <br>

            <%= link_to 'Cadastrar Tipo de Profissional', new_professional_type_path,  class: "btn btn-dark" %>

            <div class="clearfix"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /page content -->
